body {
    background-color: #F02D7D;
    margin: 0;
    padding: 0;
}

.textandimage {
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.textandimage1 {
    margin-top: 70px;
    display: flex;
    height: 250px;
    justify-content: space-evenly;   
}
.picture1 img {
    padding-top: 90px;
    width: 200px;
    height: 150px;
}
.text {
    display: flex;
    width: 200px;
    padding: 10px;
    background-color: #19D719;
    justify-content: center;
    color: #F02D7D;
    border: solid black;
}   
.text1 {
    display: flex;
    width: 200px;
    padding: 10px;
    justify-content: center;
    background-color: #19D719;
    color: #F02D7D;
    border: solid black;
}
.next-page {
    position: fixed;
    bottom: 20px;
    background-color: #19D719;
    width: 80px;
    padding: 2px;
    border: 2px solid;
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
}
.picture img{
    width: 500px;
    height: 300px;
}

a:link {
    color: #F02D7D;
}
a:hover {
    color: #F02D7D;
}
a:visited {
    color: #F02D7D;
}